body#index {
/*background-color: #63A375;*/
background-color: blue;
text-align: yellow;
font-family: 'Roboto Condensed', sans-serif;
background-size: cover;
/*background-repeat: no-repeat;*/
margin: 0px;
}
