@import 'index.css';
@import 'projects.css';
@import 'about.css';
@import 'contact.css';

body {
/*background-color: #63A375;*/
/*background-color: blue;*/
text-align: center;
font-family: 'Roboto Condensed', sans-serif;
background-size: cover;
/*background-repeat: no-repeat;*/
margin: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
